/* VSCode settings */
.vscode/ipch
.vscode/settings.json

/* Qt resources */
build
debug
release
plugins
styles
*.Debug
*.Release
.qmake.stash
Makefile*

/* Executable files */
src/Results/createDB/createDB
qtminer

/* npm */
node_modules
package-lock.json